{% extends 'base.html.twig' %}

{% block title %}
  Hello HomeController!
{% endblock %}

{% block body %}
  <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font:
    18px/1.5 sans-serif; } .example-wrapper code { background: #F5F5F5; padding:
    2px 6px; }
  </style>

  <div class="example-wrapper">
    {% if isVerified == false %}
      <h2>
        Please check your email and click the link to confirm your registration.
      </h2>
    {% endif %}
    {% if app.user %}
      <h1>
        {% trans %}user.hello{% endtrans %}
      </h1>
      <h1>
        {% trans %}user.hello{% endtrans %} {{ user.username }}! ✅
      </h1>
      {# <div id="app" data-user="{% trans %}user.hello{% endtrans %}">
        <App />
      </div> #}
      <li class="nav-item">
        <a href="{{ path('user_profile') }}">
          {% trans %}user.profile{% endtrans %}
        </a>
      </li>
      <li>
        <a href="{{ path('app_logout') }}">
          {% trans %}user.logout{% endtrans %}
        </a>
      </li>
    {% else %}
      <li class="nav-item">
        <a href="{{ path('app_register') }}">
          {% trans %}user.register{% endtrans %}
        </a>
      </li>
      <li>
        <a href="{{ path('app_login') }}">
          {% trans %}user.login{% endtrans %}
        </a>
      </li>
    {% endif %}This friendly message is coming from:<ul>
      <li>
        Your controller at <code><a href="{{ 'E:/Projects/e-commerce/e-commerce/src/Controller/HomeController.php'|file_link(
              0
            ) }}">
            src/Controller/HomeController.php
          </a></code>
      </li>
      <li>
        Your template at <code><a href="{{ 'E:/Projects/e-commerce/e-commerce/templates/home/index.html.twig'|file_link(
              0
            ) }}">
            templates/home/index.html.twig
          </a></code>
      </li>
    </ul>
    <table class="table">
      <thead>
        <tr>
          <th>
            Id
          </th>
          <th>
            Name
          </th>
          <th>
            Price
          </th>
          <th>
            category
          </th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
          <tr>
            <td>
              {{ product.id }}
            </td>
            <td>
              {{ product.name }}
            </td>
            <td>
              {{ product.price }}
            </td>
            <td>
              {{ product.category }}
            </td>
          </tr>
        {% else %}
          <tr>
            <td colspan="5">
              no records found
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
