{% extends 'base.html.twig' %}
{% block body %}
  {% include 'store/common/header.html.twig' %}
  <div class="card">
    <div class="row no-gutters">
      <aside class="col-sm-6 border-right">
        <article class="gallery-wrap">
          <div class="img-big-wrap">
            <a href="#"><img src="../images/items/9.jpg" /></a>
          </div> <!-- img-big-wrap.// -->
          <div class="thumbs-wrap">
            <a href="#" class="item-thumb">
              <img src="../images/items/9.jpg" />
            </a>
            <a href="#" class="item-thumb">
              <img src="../images/items/10.jpg" />
            </a>
            <a href="#" class="item-thumb">
              <img src="../images/items/7.jpg" />
            </a>
            <a href="#" class="item-thumb">
              <img src="../images/items/8.jpg" />
            </a>
          </div> <!-- thumbs-wrap.// -->
        </article> <!-- gallery-wrap .end// -->
      </aside>
      <main class="col-sm-6">
        <article class="content-body">
          <h3 class="title">
            {% for translation in product.translations %}
              {% if translation.locale == app.request.locale %}
                {{ translation.name }}
          </h3>
          <div class="rating-wrap mb-3">
            <span class="badge badge-warning">
              <i class="fa fa-star"></i> 3.8
            </span>
            <small class="text-muted ml-2">45 reviews</small>
          </div>
          <p>
            {{ translation.description }}
          </p>

          <ul class="list-check mb-4">
            <li>Best performance of battery</li>
            <li>5 years warranty for this product</li>
            <li>Best performance of battery</li>
          </ul>

        {% for group in productOptionGroups %}
            <div class="item-option-select">
            <h6>
              {{ group.name }}
            </h6>
            <div class="btn-group btn-group-sm btn-group-toggle"
              data-toggle="buttons">
              {% for option in product.productOptions %}
                <label class="btn btn-light">
                <input type="radio" name="radio_color" />{{ option.option.name }}
              </label>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
          

         

          <div class="row mt-3 align-items-center">
            <div class="col">
              <span class="price h4">{{ product.price|format_currency('BGN')}}</span>
            </div> <!-- col.// -->
            <div class="col text-right">
              <a href="#" class="btn btn-primary">
                <span class="text">Add to cart</span>
                <i class="icon fas fa-shopping-cart"></i>
              </a>
              <a href="#" class="btn btn-light"><i class="fas fa-heart"></i></a>
              <a href="#" class="btn btn-light">
                <i class="fa fa-folder-plus"></i>
                {% endif %}
            {% endfor %}
              </a>
            </div> <!-- col.// -->
          </div> <!-- row.// -->
        </article> <!-- product-info-aside .// -->
      </main> <!-- col.// -->
    </div> <!-- row.// -->
  </div> <!-- card.// -->
  {% include 'store/common/footer.html.twig' %}
{% endblock %}
