{% extends '/admin/index.html.twig' %}
{% block title %}
  Hello AdminController!
{% endblock %}

{% block main %}
  <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font:
    18px/1.5 sans-serif; } .example-wrapper code { background: #F5F5F5; padding:
    2px 6px; }
  </style>

  <div class="example-wrapper">
    <h1>
      Hello {{ admin.username }}! ✅
    </h1>This friendly message is coming from:<ul>
      <li>
        <a href="{{ path('admin_register') }}">Create new admin</a>
        Your controller at <code>
          <a href="{{ 'E:/Projects/e-commerce/e-commerce/src/Controller/AdminController.php'|file_link(
              0
            ) }}">
            src/Controller/AdminController.php
          </a>
        </code>
      </li>
      <li>
        Your template at <code><a href="{{ 'E:/Projects/e-commerce/e-commerce/templates/admin/index.html.twig'|file_link(
              0
            ) }}">
            templates/admin/index.html.twig
          </a></code>
      </li>
    </ul>
  </div>
  <a href="{{ path('admin_users') }}">View all users</a>
  <a href="{{ path('product_index') }}">Products</a>
  <a href="{{ path('category_index') }}">Categories</a>
{% endblock %}
