<div id="admin_product">
  {% if product is defined %}
    {% set prod = product %}
    {% set productEn = productTranslationEn %}
    {% set productBg = productTranslationBg %}
  {% endif %}

  <div>
    <label for="admin_product_price" class="required">Price</label><input type="text"
      id="admin_product_price"
      name="admin_product[price]"
      required="required"
      value="{{ prod.price }}" />
  </div>
  <div>
    <label for="country">Категория</label>
    <select class="custom-select d-block w-100"
      name="admin_product[category]"
      id="admin_product_category_id"
      required="">
      <option value="">
        Избери...
      </option>
      {% for category in categories %}
        <option value="{{ category.id }}" name="product[category]">
          {{ category.name }}
        </option>
      {% endfor %}
    </select>
  </div>
  <div>
    <label for="country">Опции</label>
    <select class="custom-select d-block w-100"
      name="admin_product[option]"
      id="admin_product_option_id">
      <option value="">
        Избери...
      </option>
      {% for option in optionGroups %}
        <option value="{{ option.id }}" name="product[option]">
          {{ option.name }}
        </option>
      {% endfor %}
    </select>
  </div>
  <div>
    <label for="admin_product_name" class="required">Name</label><input type="text"
      id="admin_product_name"
      name="admin_product[name]"
      required="required"
      value="{{ prod.name }}" />
  </div>
  <div>
    <label for="admin_product_description" class="required">Description</label>
    <textarea id="admin_product_description"
      name="admin_product[description]"
      required="required">
      {{- prod.description -}}
    </textarea>
  </div>
  <div>
    <label for="admin_product_images" class="required">Images</label>
    <input type="file"
      id="admin_product_images"
      name="admin_product[images][]"
      multiple="multiple"
      onchange="previewFile(this);"
      required="required" />

    {# <input type="radio" name="admin_product[primary]" hidden /> #}
  </div>
  <div>
    <label for="admin_product_name_en" class="required">Name en</label><input type="text"
      id="admin_product_name_en"
      name="admin_product[name_en]"
      required="required"
      value="{{ productEn.name }}" />
  </div>
  <div>
    <label for="admin_product_description_en" class="required">
      Description en
    </label>
    <textarea id="admin_product_description_en"
      name="admin_product[description_en]"
      required="required">
      {{- productEn.description -}}
    </textarea>
  </div>
  <div>
    <label for="admin_product_metaKeywords_en" class="required">
      Meta keywords en
    </label><input type="text"
      id="admin_product_metaKeywords_en"
      name="admin_product[metaKeywords_en]"
      required="required"
      value="{{ productEn.metaKeywords }}" />
  </div>
  <div>
    <label for="admin_product_metaDescription_en" class="required">
      Meta description en
    </label>
    <textarea id="admin_product_metaDescription_en"
      name="admin_product[metaDescription_en]"
      required="required">
      {{- productEn.metaDescription -}}
    </textarea>
  </div>
  <div>
    <label for="admin_product_shortDescription_en" class="required">
      Short description en
    </label>
    <textarea id="admin_product_shortDescription_en"
      name="admin_product[shortDescription_en]"
      required="required">
      {{- productEn.shortDescription -}}
    </textarea>
  </div>
  <div>
    <label for="admin_product_name_bg" class="required">Name bg</label><input type="text"
      id="admin_product_name_bg"
      name="admin_product[name_bg]"
      required="required"
      value="{{ productBg.name }}" />
  </div>
  <div>
    <label for="admin_product_description_bg" class="required">
      Description bg
    </label>
    <textarea id="admin_product_description_bg"
      name="admin_product[description_bg]"
      required="required">
      {{- productBg.description -}}
    </textarea>
  </div>
  <div>
    <label for="admin_product_metaKeywords_bg" class="required">
      Meta keywords bg
    </label><input type="text"
      id="admin_product_metaKeywords_bg"
      name="admin_product[metaKeywords_bg]"
      required="required"
      value="{{ productBg.metaKeywords }}" />
  </div>
  <div>
    <label for="admin_product_metaDescription_bg" class="required">
      Meta description bg
    </label>
    <textarea id="admin_product_metaDescription_bg"
      name="admin_product[metaDescription_bg]"
      required="required">
      {{- productBg.metaDescription -}}
    </textarea>
  </div>
  <div>
    <label for="admin_product_shortDescription_bg" class="required">
      Short description bg
    </label>
    <textarea id="admin_product_shortDescription_bg"
      name="admin_product[shortDescription_bg]"
      required="required">
      {{- productBg.shortDescription -}}
    </textarea>
  </div>
</div>
{{ form_row(form._token) }}
<button class="btn">Save</button>
