{% extends 'base.html.twig' %}

{% block title %}
  Edit password
{% endblock %}

{% block body %}
  {% for flashError in app.flashes('error') %}
    <div class="alert alert-danger" role="alert">
      {{ flashError }}
    </div>
  {% endfor %}
  {{ old }}
  <h1>
    Edit password
  </h1>
  {# <form name="edit-password"
    action="{{ path('user_edit_password') }}"
    method="post">
    <fieldset>
      <label>Old Password</label>
      <input type="password"
        name="old_password"
        enctype="multipart/form-data" />
      <label>New Password</label>
      <input type="password"
        name="first_options"
        enctype="multipart/form-data" />
      <label>Re Password</label>
      <input type="password"
        name="second_options"
        enctype="multipart/form-data" /> #}
  {{ form_start(editPasswordForm) }}
  {{ form_row(editPasswordForm.oldPassword) }}
  {{ form_row(editPasswordForm.password) }}

  {# <input type="submit" class="btn" value="Edit" />
    </fieldset> #}
  <button type="submit" class="btn">Edit</button>
  {{ form_end(editPasswordForm) }}
  {# </form> #}
{% endblock %}
